*{
    padding:0;
    margin:0;
    list-style: none;
    text-decoration: none;
    color:#424242;
}
html,body{
    width:100%;
    height:100%;
    background-color:#f4f4f4;
    color:#3c3c3c;
    overflow-x: hidden;
}
.wrapper{
    width:100%;
    height:100%;

}
/* 导航条 */
.wrapper .top-nav{
    width:100%;
    height:35px;
    /* border:1px solid #424242; */
   

}
.wrapper .top-nav .top-nav-box{
    width:1190px;
    height:35px;
    /* border:1px solid red; */
    margin:0 auto;
}
.wrapper .top-nav .top-nav-box .nav-left{
    float: left;
}
.wrapper .top-nav .top-nav-box .nav-right{
    float: right;
}
.wrapper .top-nav .top-nav-box ul li{
    float: left;
    margin-right: 7px;
}
.wrapper .top-nav .top-nav-box a{
    color:#6c6c6c;
    font-size:12px;
    line-height: 35px;
    padding:0 6px;
}
.wrapper .top-nav .top-nav-box a:hover{
    color:#f40;

}
.wrapper .top-nav .top-nav-box .top-nav-menu .c-span{
    color:#3c3c3c;
    line-height:35px;
    font-size:13px;
}
.wrapper .top-nav .top-nav-box .c-span{
    padding:0 6px;
}
.wrapper .top-nav .top-nav-box a.login{
    color:#f40;
}
.wrapper .top-nav .top-nav-box .bg-pic{
    display: inline-block;
    width:6px;
    height:3px;
    background-size: 100% 100%;
    vertical-align: middle;
}
.wrapper .top-nav .top-nav-box .bg-pic.xjs{
    background:url("./img/xsj.png");

}
.wrapper .top-nav .top-nav-box .bg-pic.shopCar-pic{
    background-image: url("./img/gwc.png");
    width:12px;
    height:12px;
}
.wrapper .top-nav .top-nav-box .bg-pic.like-pic{
    background-image: url("./img/star.png");
    width:12px;
    height:12px;

}


.wrapper .top-nav .top-nav-box .bg-pic.web-navc{
    background-image: url("./img/dh.png");
    width:8px;
    height:8px;

}
.wrapper .top-nav .top-nav-box .cut-off span{
    line-height:35px;
    color:#ddd;
}
.wrapper .top-nav .ad-box{
    width:100%;;
    height:70px;
    background-color: red;
    
}
.wrapper .top-nav .ad-box .ad{
    width:1190px;
    /* border:1px solid #000; */
    margin:0 auto;

}
.wrapper .top-nav .ad-box .ad  img{
    width:100%;
    height:70px;
}



/* 搜索 */
.wrapper .search{
    width:100%;
    height:97px;
    padding-top:24px;
    /* border:1px solid #000; */
    background-color: #fff;

}
.wrapper .search .search-con{
    width:1190px;
    height:88px;
    margin:0 auto;
}
.wrapper .search .search-con .logo{
    position: relative;
    margin-top:-10px;
    display: inline-block;
    width:190px;
    height:105px;
    /* border:1px solid #000; */
    background:url("./img/logo.png");
    background-size:100% 100%;

}
.wrapper .search .search-con .search-box{
    display: inline-block;
    width:627px;
    height:87px;
    vertical-align: top;
    /* border:1px solid red; */
    margin-left:50px;

}
.wrapper .search .search-con .search-box .search-top{
    width:627px;
    height:62px;
    /* border:1px solid #000; */
}
.wrapper .search .search-con .search-box .search-top .search-tab{
    height:22px;
    margin-left:17px;

}
.wrapper .search .search-con .search-box .search-top .search-tab ul li{
    float: left;
    width:36px;
    height:22px;
    color:#f40;
    font-size:12px;
    line-height: 22px;
    text-align: center;
    margin-right:4px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
}
.wrapper .search .search-con .search-box .search-top .search-tab ul li:hover{
    background:#ffeee5;
    cursor: pointer;
}
.wrapper .search .search-con .search-box .search-top .search-tab ul li.active{
    background:linear-gradient(to right,#ff9000 0,#ff5000 100%);
    color:#fff;
    font-weight:700;
}
.wrapper .search .search-con .search-box .search-top .search-panel{
    position: relative;
    width:627px;
    height:40px;
    /* border:1px solid green ; */
}

.wrapper .search .search-con .search-box .search-top .search-panel form .btn{
    position: absolute;
    right:0;
    top:0;
    width:74px;
    height: 40px;
    /* border:1px solid #000; */
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    overflow: hidden;
    

}
.wrapper .search .search-con .search-box .search-top .search-panel form .btn button{
    border:none;
    width:100%;
    height:100%;
    /* border-top-right-radius:20px;
    border-bottom-right-radius:20px; */
    background:linear-gradient(to right,#ff9000 0,#ff5000 100%);
    font-weight:bold;
    font-size:18px;
    color:#fff;
    cursor: pointer;

}
.wrapper .search .search-con .search-box .search-top .search-panel form .search-inp{
    width:551px;
    height:35px;
    border:2px solid #ff5000;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    overflow: hidden;

}
.wrapper .search .search-con .search-box .search-top .search-panel form .search-inp input{
    width:472px;
    height:24px;
    padding:6px 16px;
    border:none;
    outline: 0;
    text-indent: 10px;
  
}
.wrapper .search .search-con .search-box .fdaj,
.wrapper .search .search-con .search-box .camera{
    display: inline-block;
    position: absolute;
}
.wrapper .search .search-con .search-box .fdaj{
    width:12px;
    height:14px;
    top:11px;
    left:14px;
    background:url("./img/fdj.png");
    background-size:100% 100%;

}
.wrapper .search .search-con .search-box .camera{
    width:16px;
    height:16px;
    top:11px;
    right:90px;
    background: url("./img/camera.png");
    background-size: 100% 100%;

}


.wrapper .search .search-con .search-box .search-bottom{
    width:627px;
    height:20px;
    /* border:1px solid red; */

    
}
.wrapper .search .search-con .search-box .search-bottom a{
    font-size: 12px;
    margin-right:8px;
    color:#666;
}
.wrapper .search .search-con .search-box .search-bottom a.active,
.wrapper .search .search-con .search-box .search-bottom a:hover{
    color:#ff5000;
}


.wrapper .search .search-con .code-box{
    display: inline-block;
    width:76px;
    height:90px;
    vertical-align: top;
    border:1px solid #eee;
    margin-left:120px;
    position: relative;

}
.wrapper .search .search-con .code-box .phone{
    color:#f40;
    font-size:14px;
    line-height:20px;
    margin-left:6px;
}
.wrapper .search .search-con .code-box .code{
    display: inline-block;
    width:62px;
    height:62px;
    background: url(./img/ewm.png) no-repeat;
    background-size: 100% 100%;
    margin-left:6px;
}
.wrapper .search .search-con .code-box .close{
    position: absolute;
    display: inline-block;
    top:0;
    left:-18px;
    border:1px solid #eee;
    color: #ddd;
    font-size:14px;
    width: 16px;
    height:16px;
    text-align: center;
    line-height:16px;
}

/* 中间导航 */
.wrapper .screen-nav{
    width:1190px;
    height:30px;
    background:linear-gradient(to right,#ff9000 0,#ff5000 100%);
    margin: 0 auto;

}
.wrapper .screen-nav .header{
    width:100%;
    height:100%;
}
.wrapper .screen-nav .header h2{
    float: left;
    color:#fff;
    font-size:16px;
    width:190px;
    height:100%;
    background:#ff5000;
    text-align: center;
    line-height: 30px;
}

.wrapper .screen-nav .header ul{
    float: left;
    font-size:16px;
}
.wrapper .screen-nav .header ul li{
    float: left;
    margin:0 3px;
    padding:0 4px;
    position: relative;
    

}
.wrapper .screen-nav .header ul li a{
    color: #fff;
    line-height: 30px;
    font-weight:bold;
}
.wrapper .screen-nav .header ul li a:hover::before{
    content:'';
    display: block;
    width:30px;
    height:30px;
    background:url(./img/up.png) no-repeat;
    background-size:center;
    position: absolute;
    top:-10px;
    left:50%;
    margin-left:-15px;
}


/* 展示区域 */
.wrapper .screen-box{
    width:1190px;
    height:632px;
    border:1px solid yellow;
    margin:0 auto;
}
.wrapper .screen-box .main{
    display: inline-block;
   /* margin: 0px; */
    width:890px;
    height:632px;
    /* border:1px solid #3c3c3c; */
    position: relative;

}
.wrapper .screen-box .main .main-inner{
   
    width:100%;
    height:532px;
    /* border:1px solid #000; */
}
.wrapper .screen-box .main .main-inner .inner-left{
    float: left;
    width:190px;
    height:100%;
    /* border:1px solid #f40; */
    background: #fff;
    border-top:none;
}
.wrapper .screen-box .main .main-inner .inner-left ul li{
    position: relative;
    width: 145px;
    height:33px;
    padding-left :25px;
    padding-right:19px;
    
}
.wrapper .screen-box .main .main-inner .inner-left ul li a{
    font-size:14px;
    font-weight:400;
    color:#666;
    line-height: 33px;
}
.wrapper .screen-box .main .main-inner .inner-left ul li span{
    position: absolute;
    right:10px;
    top:50%;
    margin-top:-4px;
    display: inline-block;
    width:5px;
    height:8px;
    background:url(./img/yjt.png);
    background-size:100% 100%;
}
.wrapper .screen-box .main .main-inner .inner-left ul li:hover{
    background-color: #ffe4dc;
}
.wrapper .screen-box .main .main-inner .inner-left ul li:hover a{
    color:#ff5000;
}

.wrapper .screen-box .main .main-inner .inner-content{
    float: left;
    width:520px;
    height:522px;
    padding:10px;
    /* border-right:1px solid red; */
}
.wrapper .screen-box .main .main-inner .inner-content .player{
    width:100%;
    height:100%;
    /* display: none; */
}
.wrapper .screen-box .main .main-inner .inner-content .dress,
.wrapper .screen-box .main .main-inner .inner-content .bag,
.wrapper .screen-box .main .main-inner .inner-content .baby,
.wrapper .screen-box .main .main-inner .inner-content .tel
{
    position: absolute;
    left:193px;
    top:0px;
    background:#fff;
    width:678px;
    height:514px;
    padding:10px;
}
div[id]:not(:target){
    display: none;
}


.wrapper .screen-box .main .main-inner .inner-content .player-top{
    width:100%;
    height:280px;
    /* border:1px solid red; */
}
.wrapper .screen-box .main .main-inner .inner-content .player-top img{
    width:100%;
    height:100%
}
.wrapper .screen-box .main .main-inner .inner-content .player-bottom{
    width:100%;
    height:242px;
    /* border:1px solid gold; */
}
.wrapper .screen-box .main .main-inner .inner-content .player-bottom-head{
    width:100%;
    height:35px;
    position: relative;

}
.wrapper .screen-box .main .main-inner .inner-content .player-bottom-head img{
    height:18px;
    padding-top:10px;
}
.wrapper .screen-box .main .main-inner .inner-content .player-bottom-head span{
    font-size:12px;
    padding-left:10px;
}
.wrapper .screen-box .main .main-inner .inner-content .player-bottom-head .jdt{
    width:100%;
    height:5px;
    background:rgb(119, 8, 73);
    position: absolute;
    top:28px;

}
.wrapper .screen-box .main .main-inner .inner-content .player-bottom-con{
    width:100%;
    height:206px;
}
.wrapper .screen-box .main .main-inner .inner-content .player-bottom-con img{
    width:100%;
    height:200px;
    
}





.wrapper .screen-box .main .main-inner .inner-right{
    float: left;
    /* border: 1px solid red; */
    width:155px;
    height:100%;
    
}
.wrapper .screen-box .main .main-inner .inner-right .pic-side-t{
    width:155px;
    height:280px;
    padding-top:10px;
    
}
.wrapper .screen-box .main .main-inner .inner-right .pic-side-t img{
    width:100%;
    height:100%;
}
.wrapper .screen-box .main .main-inner .inner-right .pic-side-b{
    width:155px;
    height:240px;
}
.wrapper .screen-box .main .main-inner .inner-right .pic-side-b .rot{
    width:155px;
    height: 28px;
    font-size:14px;
   line-height: 28px;
   color:#aaa;
}
.wrapper .screen-box .main .main-inner .inner-right .pic-side-b img{
    width:100%;
    height:206px;
}



.wrapper .screen-box .main .main-bottom{
    width:890px;;
    height:98px;
    /* border:1px solid red; */
    /* background:red; */
}

.wrapper .screen-box .main .main-bottom .main-bottom-con{
  
}
.wrapper .screen-box .main .main-bottom .main-bottom-left{
    display: inline-block;
    width:190px;
    height:73px;
}
.wrapper .screen-box .main .main-bottom .main-bottom-left img{
    width:100%;
    height:100%;
}

















